---
import { Minus, Square, User, X } from '@lucide/astro';
import background from '../assets/zorro-fondo2.png';
---
<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<div id="window">
			<div id="window-header">
				<div id="header-text">
					<User color="hsl(217 91% 60%)" />
					<span id="text">about_me.txt</span>
				</div>
				<div id="header-buttons">
					<Minus id="window-btn" color="hsl(215 20% 65%)" size={20} />
					<Square id="window-btn" color="hsl(215 20% 65%)" size={20} />
					<X id="window-btn-X" color="hsl(0 84% 60%)" size={20} />
				</div>
			</div>
			<div id="window-body">
				<h1>Abel Sotillos Cuenca</h1>
				<p>Full Stack Developer</p>
			</div>
		</div>
	</main>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;	
		object-fit: cover;
	}

	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

	main {
		height: 100%; 
		display: flex;
		justify-content: center;
		align-content: center;
    	flex-wrap: wrap;
	}

	#window{
		border-width: 1px;
		border-color: hsl(217 33% 25% / .6);
		background-color: hsl(222 47% 14% / .85);
		backdrop-filter: blur(40px);
		border-radius: 0.75rem;
		opacity: 1;
		transform: none;
		max-width: 32rem;
		width: 100%;
	}
	#window-header{
		border-radius: 0.75rem 0.75rem 0rem 0rem  ;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		padding-left: 1rem;
		padding-right: 1rem;
		background-color: hsl(217 33% 17% / 0.5);
		border-color: hsl(217 33% 25% / 0.5);
		border-bottom-width: 1px;
		justify-content: space-between;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		border-width: 0;
		border-style: solid;
	}
	#window-body{
		padding: 1.5rem;
		box-sizing: border-box;
		border-width: 0;
		border-style: solid;
		border-color: #e5e7eb;
	}
	h1{
		color:hsl(210 40% 98%);
		font-weight: 700;
		font-size: 1.875rem;
    	line-height: 2.25rem;
		text-shadow: 0 0 20px hsl(217 91% 60% / .5);
		margin: 0;
	}
	p{
		color: hsl(217 91% 60%);
		font-size: 0.875rem;
    	line-height: 1.25rem;
		margin: 0;
	}
	#header-text{
		gap: 0.75rem;
		align-items: center;
		display: flex;
	}
	#header-buttons{
		gap: 0.5rem;
		align-items: center;
		display: flex;
	}
	#text{
		color: hsl(210 40% 98% / 0.9);
	}
	#window-btn{
		background-color: hsl(217 33% 17%/ 0.5);
		border-radius: 9999px;
	}
	#window-btn:hover{
		background-color: hsla(218, 9%, 23%, 0.5);
		border-radius: 9999px;
	}
	#window-btn-X{
		background-color: hsl(0 84% 60%/ 0.2);
		border-radius: 9999px;
	}
	#window-btn-X:hover{
		background-color: hsla(0, 79%, 70%, 0.4);
		border-radius: 9999px;
	}
</style>
