# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: self-hosted
    
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
            node-version: 24
            cache: 'npm'
      - run: npm install -g pnpm  
      - run: pnpm install
      - run: pnpm run build
      - name: Creando la imágen doker
        run: docker build -t astro .
      - name: Levantar el contenedor con docker-compose y elimino las imágenes sobrantes
        run: bash ./Scripts/start.sh